nav.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16.5rem;
  border-right: 1px solid lightgray;
  overflow-y: auto;
}

main.collapsed nav.sidebar {
  left: -16.5rem;
  border-right: none;
}

nav.sidebar ul {
  padding-left: 20px;
  margin: 0;
}

nav.sidebar ul a {
  color: black;
  line-height: 30px;
}

nav.sidebar ul a:hover,
nav.sidebar ul a.active {
  color: #009bff;
}

nav.sidebar ul.chapters {
  padding-left: 0;
  padding: 10px;
}

nav.sidebar div.sidebar-title {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}